---
layout: base
---

<div class="home">
  {{ content | markdownify }}

  {% if site.pagination %}
    {% assign memblocks = paginator.posts %}
  {% else %}
    {% assign memblocks = site.memblocks %}
  {% endif %}

  {%- if memblocks.size > 0 -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in memblocks -%}
      <li>
        <h3>
          <a class="post-link" href="https://t.me/{{ site.telegram_channel.id }}/{{ post.slug }}">
            {{ post.title | escape }}
          </a>
        </h3>, <span class="post-meta">{{ post.date | date: date_format }}</span>
        {%- if post.images.size > 0 -%}
        <p class="center-images">
          {%- for image in post.images -%}
          <img src="{{ image | relative_url }}" alt="{{ post.title | escape }}">
          {%- endfor -%}
        </p>
        {%- endif -%}
        {{ post.content }}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.pagination %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
